<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>webapp.GenericServletDemo</servlet-class>

		<init-param>
			<param-name>url</param-name>
			<param-value>sdsadsdsaddsad</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>webapp.LoginServlet</servlet-class>
	</servlet>

	

	<context-param>
		<param-name>appname</param-name>
		<param-value>flipkart</param-value>
	</context-param>

	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	
	 
</web-app>